/* main.scss - Contains all styling for dallasmobilewash.com */

/****** COLORS ******/

$white_1: #fff;
$white_2: #f4f5f0;

$gray_1: #98a0a5;

$black_1: #2b2c30;
$black_2: #000;

$dark_blue_1: #384883;
$dark_blue_2: #2f3e55;
$dark_blue_3: #2b2c30;

$green_1: #a5bcbb;
$green_2: #579794;

$green_translucent_1: rgba(87, 151, 148, 0.85);


/****** FONTS ******/

$adelle_sans: adelle-sans, sans-serif;

$font_weight_normal: 400;
$font_weight_bold: 700;

$font_size_sm_1: 1.1rem; // 13pt

$font_size_med_1: 1.33rem; // 16pt
$font_size_med_2: 1.66rem; // 20pt

$font_size_lg_1: 2.08rem; // 25pt
$font_size_lg_2: 3.25rem; // 39pt


/****** SPACERS ******/

$spacer_6px: 6px;
$spacer_8px: 8px;

$spacer_10px: 10px;
$spacer_11px: 11px;
$spacer_13px: 13px;
$spacer_16px: 16px;

$spacer_20px: 20px;
$spacer_26px: 26px;

$spacer_36px: 36px;

$spacer_42px: 42px;

$spacer_76px: 76px;
$spacer_144px: 144px;



/****** TYPOGRAPHY STYLING ******/  

.nav-top-a, 
.contact_info-heading-span, 
.contact_info-content-span, 
.contact_info-content-a, 
.action-a, 
h1, 
p, 
h2, 
ul li, 
#level_5-services-container a, 
#footer-copyright, 
.footer-links-a, 
#form-contact label, 
#input-contact-full_name, 
#input-contact-phone_number,  
#input-contact-message, 
.content-form-a,
#form-maa label, 
#input-maa-full_name, 
#input-maa-phone_number, 
#input-maa-date, 
#input-maa-time,  
.nav-mobile-a, 
.mobile-contactinfo-item-span {
  font-family: $adelle_sans;
}

.contact_info-heading-span, 
.contact_info-content-span, 
.contact_info-content-a, 
.action-a, 
#level_5-services-container .level_5-service-div .action-a, 
#footer-copyright, 
.footer-links-a, 
.content-form-a, 
#maa-form-a {
  font-size: $font_size_sm_1;
}

.nav-top-a, 
.content-p, 
ul li, 
#level_5-services-container a, 
#form-contact label, 
#input-contact-full_name, 
#input-contact-phone_number,  
#input-contact-message,
#form-maa label, 
#input-maa-full_name, 
#input-maa-phone_number, 
#input-maa-date, 
#input-maa-time {
  font-size: $font_size_med_1;
}

.carousel-cta p, 
h2 {
  font-size: $font_size_med_2;
}

.carousel-cta h1 {
  font-size: $font_size_lg_2;
}

.contact_info-content-span, 
.contact_info-content-a, 
.nav-top-a, 
.carousel-cta p {
  font-weight: $font_weight_normal;
}

.action-a, 
.mobile-contactinfo-item-span {
  font-weight: 600;
}

h2 {
  font-weight: 800;
}

.contact_info-heading-span, 
.carousel-cta h1 {
  font-weight: $font_weight_bold;
}

.contact_info-content-a {
  letter-spacing: -0.6px;
}

.nav-top-a {
  letter-spacing: 0.4px;
}

.contact_info-content-a, 
.footer-links-a {
  text-decoration: underline;
}

.content-p {
  line-height: 1.6;
}

.nav-top-a, 
.action-a, 
.carousel-cta h1, 
.carousel-cta p, 
#level_2-p, 
.level_2-details-h2, 
.level_2-details-ul li, 
#level_5-services-container .level_5-service-div .action-a {
  color: $white_2;
}

#level_1-p, 
#footer-copyright, 
#form-contact label, 
#contact-confirmation_message p, 
#contact-error_message p, 
#form-maa label, 
#maa-confirmation_message p, 
#maa-error_message p {
  color: $gray_1;
}

.footer-links-a, 
.content-form-a {
  color: $green_1;
}

.contact_info-content-a, 
.nav-mobile-a, 
#mobile-contactinfo-phonenumber  {
  color: $dark_blue_1;
}

.contact_info-listing-div, 
#level_3-content-container {
  color: $dark_blue_2;
}

#level_4-content-container h2, 
#level_4-service_area_list, 
#level_5-content-background, 
#level_5-services-container, 
#level_5-services-container a, 
#input-contact-full_name, 
#input-contact-phone_number,  
#input-contact-message, 
#input-maa-full_name, 
#input-maa-phone_number,  
#input-maa-date, 
#input-maa-time, 
.mobile-contactinfo-item-span {
  color: $dark_blue_3;
}


/****** COLOR STYLING ******/

.nav-top-a {
  background-color: $green_2;
}
/* 
 {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.85) 0%, rgba(87,151,148,1) 100%)
}
 */
.action-a {
  background-color: $dark_blue_1;
}

#level_1-p {
  background-color: $black_1;
}

#level_2-background-top {
  background: rgb(56,72,131);
  background: linear-gradient(180deg, rgba(56,72,131,1) 0%, rgba(47,62,85,1) 100%);
}

.level_2-service-overlay-div {
  background-color: $black_1;
}

#header-contact_info_container-aside, 
#level_3-content-container, 
#homepage-section-5, 
#level_6-content-background {
  background-color: $white_1;
}

#level_5-content-background, 
#level_5-services-container {
  background-color: $white_2;
}

#homepage-section-6 {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(165,188,187,1) 23%, rgba(165,188,187,1) 58%, rgba(159,156,153,1) 58%, rgba(244,245,240,1) 100%);
}

footer, 
#contact-bkgrnd, 
#maa-bkgrnd {
  background-color: $black_1;
}



/****** BORDERS ******/

.nav-top-a, 
#header-contact_info_container-aside, 
.action-a, 
.content-p, 
#level_3-content-container, 
#level_4-map, 
#level_5-content-background, 
#level_5-services-container, 
#level_6-content-background {
  border-radius: 10px;
}

.action-a {
  border: 2px solid $white_2;
}

#level_5-services-container li {
  border-bottom: 2px solid $gray_1;
}

#level_5-services-container li:last-of-type {
  border-bottom: none;
}

#input-contact-full_name, 
#input-contact-phone_number,  
#input-contact-message {
  border: 2px solid $gray_1;
}



/****** SHADOWS ******/

$shadow_distance: 6px;

#header-contact_info_container-aside, 
.action-a, 
#level_4-map, 
#level_5-content-background,
#level_5-services-container, 
#level_6-content-background {
  box-shadow: 0 0 $shadow_distance $dark_blue_3;
}

#cta-homepage {
  text-shadow: -1px 1px 2px $dark_blue_2, 1px 1px 2px $dark_blue_2, 1px -1px 0 $dark_blue_2, -1px -1px 0 $dark_blue_2;
}



/****** LINK/BUTTON BEHAVIOR ******/

.nav-top-a {
  transition-property: color, backgroundColor, fontWeight;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.nav-top-a:hover {
  background-color: $white_2;
  font-weight: 400;
  color: $green_2;
}

.nav-top-a:active {
  background-color: $white_2;
  font-weight: 800;
  color: $green_2;
}

.action-a {
  transition-property: color, backgroundColor, border, textDecoration, fontWeight;
  transition-duration: 0.1.5s;
  transition-timing-function: ease-out;
}

.action-a:hover {
  background-color: $green_2;
  border: 3px solid $white_2;
  font-weight: 800;
  color: $white_2;
  text-decoration: none;
}

.action-a:active {
  background-color: $white_2;
  border: 2px solid $dark_blue_1;
  font-weight: 800;
  color: $dark_blue_1;
  text-decoration: none;
}

.footer-links-a, 
.content-form-a {
  transition-property: color, fontWeight;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.footer-links-a:hover, 
.content-form-a:hover {
  font-weight: 400;
  color: $white_2;
}

.footer-links-a:active, 
.content-form-a:active {
  font-weight: 800;
  color: $white_2;
}

.nav-mobile-a, 
#mobile-contactinfo-phonenumber {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.nav-mobile-a:active, 
#mobile-contactinfo-phonenumber:active {
  color: $white_1
}



/******* COMMON ELEMENTS ****** */

.visible-desktop {
  display: block !important;
}

.visible-desktop-inlineflex {
  display: inline-flex;
}

.visible-mobile, 
.visible-mobile-inlineflex, 
.visible-tablet {
  display: none !important;
}

.overflow-hidden-html {
  overflow-y: hidden !important;
}

#contact-confirmation_message, 
#maa-confirmation_message, 
#contact-error_message, 
#maa-error_message, 
#mobile-nav-links {
  display: none;
}

:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

.action-a {
  width: 223px;
  display: block;
  padding: $spacer_16px;
  text-align: center;
}

#action-talkToDallas {
  margin: $spacer_16px 0;
}

.level_2-button-not_visible, 
.level_2-button-visible {
  display: none !important;
}

.level_2-button-visible, 
.level_2-details-visible {
  display: block !important;
  opacity: 0;
}

.level_5-service-visible {
  display: block !important;
}



/******* HEADER ******/

header {
  position: absolute;
  top: $spacer_76px;
  left: $spacer_76px;
  z-index: 3;

  #header-contact_info_container-aside  {
    width: inherit;
    margin: $spacer_20px 0 0 $spacer_76px;
    padding: $spacer_11px $spacer_16px;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;

    .contact_info-listing-div {
      margin-bottom: $spacer_11px;
    }

    .contact_info-action-div {
      margin: $spacer_11px 0;
    }

    .contact_info-heading-span, 
    .contact_info-content-span, 
    .contact_info-content-a {
      display: block;
    }
  }  
}



/****** NAVIGATION ******/

#top-desktop-nav,  
#top-nav-logo-a, 
#top-nav-ul {
  display: inline-flex;
}

#top-nav-logo-a {
  margin-right: $spacer_36px;
}

#top-nav-ul {
  margin: $spacer_20px 0 0 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;

  li {
    margin-right: $spacer_16px;
  }

  .nav-top-a {
    padding: $spacer_10px $spacer_16px $spacer_11px $spacer_16px;
    display: block;
  }
}



/****** CAROUSEL ******/

.carousel {
  z-index: 2;
}

.carousel-item  {
  img {
    width: 100%;
    height: auto;
  }
  $spacer_20px: 20px;

  .carousel-cta {
    position: absolute;
    left: $spacer_76px;
    bottom: $spacer_144px;
  }

  .carousel-cta {
    p {
      margin: $spacer_10px 0 $spacer_16px 0;
    }
  }

  #cta-homepage {
    p {
      width: 526px;
    }
  }
}

.carousel-control-prev, 
.carousel-control-next {
  width: $spacer_76px;
}



/****** COPY ******/

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}


/* ------ HOMEPAGE ------ */
.homepage-section {
  width: 100%;
}


/* --- LEVEL #1 --- */

#homepage-section-1 {
  background-image: url('/assets/img/homepage/desktop/level_1.jpg');
}

#level_1-p {
  width: 27%;
  padding: $spacer_11px $spacer_16px;
  position: relative;
  top: 43%;
  left: 59.3%;  
}


/* --- LEVEL #2 --- */

#level_2-background-top {
  height: 50%;
  display: inline-flex;
}

#level_2-content-container, 
#level_2-icons-container {
  width: 50%;
}

#level_2-p, 
#level_2-icons {
  margin: 0 auto;
  position: relative;
}

#level_2-p {
  width: 54%;
  top: 36%;
}

#level_2-icons {
  width: 504px;
  top: 21%;

  .level_2-icon-img {
    width: 161px;
    height: auto;
  }
}

#level_2-icon-auto {
  vertical-align: text-bottom;
}

#level_2-icon-deck {
  margin-left: 12px;
}

#level_2-background-bottom {
  width: 100%;
  height: 50%;
  display: inline-flex;
}

.level_2-service-div {
  width: 33.3%;
  height: 100%;
  display: flex;
  background-size: 100%;
  z-index: 200;

  .action-a {
    margin: 0 auto;
    align-self: center;
    z-index: 200;
  }
}

.level_2-details-div {
  width: 80%;
  margin: 50px auto 0 auto;
  display: none;
  z-index: 200;
}

.level_2-service-overlay-div {
  width: 33.3%;
  height: 37%;
  position: absolute;
  opacity: 0.5;
}

#level_2-service-home_exterior_cleaning {
  background-image: url('/assets/img/homepage/desktop/level_2-exterior.jpg');
}

#level_2-service-auto_detailing {
  background-image: url('/assets/img/homepage/desktop/level_2-auto.jpg');
}

#level_2-service-deck_cleaning {
  background-image: url('/assets/img/homepage/desktop/level_2-deck.jpg');
}


/* --- LEVEL #3 --- */

#homepage-section-3 {
  background-image: url('/assets/img/homepage/desktop/level_3.jpg');
}

#level_3-content-container {
  width: 27%;
  position: relative;
  top: 15%;
  left: 59.3%;
  opacity: 0.8;

  .content-p {
    padding: $spacer_11px $spacer_16px;
  }
}/* 

#level_3-img {
  width: 53%;
  display: block;
  position: relative;
  bottom: 144px;
  left: 144px;
  z-index: 100;
} */


/* --- LEVEL #4 --- */

#homepage-section-4 {
  background-image: url('/assets/img/homepage/desktop/level_4.jpg');
  display: flex;
}

#level_4-content-container, 
#level_4-map {
  position: relative;
}

#level_4-content-container {
  width: 50%;
  height: 85%;
  top: 15%;

  h2 {
    width: 193px;
    margin: 0 auto $spacer_10px auto;
  }
  
  ul {
    width: 196px;
    margin: 0 auto; 

    li {
      margin-bottom: $spacer_10px;
    }
  }
}

#level_4-map {
  width: 27%;
  height: 433px;
  top: 15%;
  left: 9.1%;
}


/* --- LEVEL #5 --- */

#homepage-section-5 {
  display: inline-flex;
  background-image: url('/assets/img/homepage/desktop/level_5.png');
  background-position: 0 50%;
  background-size: 40%;
  background-repeat: repeat-x;
}

#level_5-content-container {
  width: 50%;  
}

#level_5-content-background {
  width: 54%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 15%;

  .content-p {
    padding: $spacer_11px $spacer_16px;
  }
}

#level_5-services-container {
  width: 27%;
  height: fit-content;
  padding: $spacer_11px $spacer_16px;
  position: relative;
  top: 15%;
  left: 9.1%;

  li {
    list-style-image: url('/assets/img/common/dots/services.png');
    margin-bottom: $spacer_10px;

    a {
      position: relative;
      top: -8px;
    }
  }
}

#level_5-services-list {
  width: 96%;
}

.level_5-service-div {
  display: none;
  margin-bottom: $spacer_16px;

  p {
    margin-bottom: $spacer_26px;
  }
}


/* --- LEVEL #6 --- */

#homepage-section-6 {
  display: inline-flex;
}

#level_6-img-container {
  width: 45.6%;
}

#level_6-img {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 30%;
}

#level_6-content-background {
  width: 51%;
  height: auto;
  margin: 0 auto;
  padding: $spacer_11px $spacer_16px;
  position: relative;
  top: 15%;
}




/****** FOOTER ******/

footer {
  width: 100%;
  display: inline-flex;
}

#footer-info-container {
  padding: $spacer_26px 0;
  position: relative;
  left: 76px;
}

#footer-logo {
  width: 295px;
  height: auto;
}

#footer-socialMedia-container {
  margin: $spacer_16px;
}

#footer-socialMedia-facebook {
  margin: 0 auto;
  display: block;
}

#footer-copyright-container {
  text-align: center;
}

#footer-links-container {
  padding: $spacer_26px 0;
  position: relative;
  left: 44.5%;
}

#footer-links {
  padding-left: 0;
  list-style-type: none;

  li {
    margin-bottom: $spacer_11px;
  }

  li:last-of-type {
    margin-bottom: 0;
  }
}

#footer-action-container {
  height: calc(100% - 56px);
  position: relative;
  top: 56px;
  left: calc(100% - 295px - 208px - 223px - 76px); 
}
// Value is found by subtracting the width of the <div> containing the business info from the width 
// of the <div> containing the footer's links from the width of the <div> containing the button 
// and the value of the margin of the page (76px) from the width of the browser.



/****** CONTACT FORM ******/

#content-form-contact, 
#contact-bkgrnd, 
#content-form-maa, 
#maa-bkgrnd {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 350;
}

#content-form-contact, 
#content-form-maa {
	padding: 3em;
}

#content-form-contact a, 
#content-form-maa a {
	display: block;
	float: right;
}

#contact-bkgrnd, 
#maa-bkgrnd {
	z-index: 340;
}

#form-contact, 
#form-maa {
	width: 360px;
	height: auto;
	margin: auto;
	position: relative;
	top: 3em;
}

#contact-confirmation_message, 
#maa-confirmation_message, 
#contact-error_message, 
#maa-error_message {
	width: 23.25em;
	height: 24.5em;
	padding: 2em 2.5em;
  position: absolute;
  top: 15%;
  left: calc(60% - 408px);
	z-index: 350;
}

#input-contact-full_name, 
#input-contact-phone_number, 
#input-contact-message, 
#form-contact label, 
#input-maa-full_name, 
#input-maa-phone_number, 
#input-maa-date, 
#input-maa-time, 
#form-maa label {
	width: 360px;
}

#input-contact-submit, 
#input-maa-submit {
	margin-top: 0.5em;
	display: inline-block;
}

#form-contact label, 
#form-maa label {
	margin: 1em 0 0.25em 0;
	display: block;
}

#input-contact-full_name, 
#input-contact-phone_number,  
#input-contact-message, 
#input-maa-full_name, 
#input-maa-phone_number, 
#input-maa-date, 
#input-maa-time {
	padding: 0.5em;
}

#contact-confirmation_message p, 
#maa-confirmation_message p, 
#contact-error_message p, 
#maa-error_message p {
	padding: 0.25em 0;
	font-size: 1.15em;
}

#input-contact-message {
  margin-bottom: 6px;
}

#input-maa-time {
  margin-bottom: $spacer_10px;
}



/* ****** BREAKPOINTS ****** */


/* ------ 1920x???? ------- */

@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .homepage-section {
    height: 868px;
    background-size: 100%;
  }
  
  #homepage-section-2, 
  #homepage-section-6  {
    height: 657px;
  }
}



/* ------ > MOBILE DISPLAYS && < 1080P ------- */

@media screen and (min-width: 415px) and (max-width: 1900px) {
  
  /****** TYPOGRAPHIC ELEMENTS ******/

  .nav-top-a {
    background: none;
    color: $white_1;
  }



  /****** LINK/BUTTON BEHAVIOR ******/

  .nav-top-a:hover {
    background-color: $green_2;
    font-weight: 800;
    color: $white_1;
  }



  /****** COLOR STYLING ******/



  /****** COMMON ELEMENTS ******/

  .visible-tablet {
    display: block !important;
  }

  
  
  /****** TABLET NAVIGATION ******/

  .tablet-nav-visible {
    width: 440px;
    height: 930px;
    position: absolute;
    top: -76px;
    right: -76px;
    background-color: $green_1;
    z-index: 200;
  }

  #top-tablet-nav {
    position: absolute;
    top: 38px;
    right: 76px;
    z-index: 300;
  }

  #top-nav-ul {
    width: 314px;
    display: none;
    position: absolute;
    top: 138px;
    right: 54px;
  }

  header { 
    width: calc(100% - 76px - 76px);

    #header-contact_info_container-aside {
      width: 255px;
      position: absolute;
      right: 162px;
    }
  }
}



/* ------ > MOBILE DISPLAYS && < 1080P ------- */
@media screen and (min-width: 415px) and (max-width: 1600px) {

  /****** TYPOGRAPHIC ELEMENTS ******/

  .carousel-cta h1 {
    font-size: 2.25rem;
  }

  .carousel-cta p, 
  h2 {
    font-size: 1.33rem;
  }

  .nav-top-a, 
  .content-p, 
  ul li, 
  #level_5-services-container a, 
  #form-contact label, 
  #input-contact-full_name, 
  #input-contact-phone_number, 
  #input-contact-message, 
  #form-maa label, 
  #input-maa-full_name, 
  #input-maa-phone_number, 
  #input-maa-date, 
  #input-maa-time
  .contact_info-heading-span, 
  .contact_info-content-span, 
  .contact_info-content-a, 
  .action-a, 
  #level_5-services-container .level_5-service-div .action-a, 
  #footer-copyright, 
  .footer-links-a, 
  .content-form-a, 
  #maa-form-a {
    font-size: 1rem;
  }



  /****** MAIN NAVIGATION ******/

  #nav-logo-desktop, 
  #footer-logo {
    width: 260px;
  }



  /****** CAROUSEL ******/

  .carousel-item {
    .carousel-cta {
      bottom: 76px;
    }
  }



  /****** COPY ******/

  .homepage-section {
    height: 623px;
    background-size: 100%;
  }


  /* --- LEVEL #1 --- */

  #level_1-p {
    top: 15%;
  }


  /* --- LEVEL #2 --- */

  #homepage-section-2 {
    height: 437px;
  }

  #level_2-p {
    top: 21%;
  }

  #level_2-icons {
    width: 294px;

    .level_2-icon-img {
      width: 91px;
    }
  }

  .level_2-details-div {
    margin: 20px auto 0 auto;
  }

  .level_2-service-overlay-div {
    height: 24%;
  }


  /* --- LEVEL #6 --- */

  #level_6-img {
    top: 40%;
  }


  /****** FOOTER ******/

  #footer-links-container {
    left: 22%;
  }
}



/* ------ > TABLET < 720P ------- */

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .level_2-service-overlay-div {
    height: 24.3%;
  }
}



/* ------ TABLET DISPLAYS ------ */

@media screen and (min-width: 415px) and (max-width: 1024px) {

  /****** TYPOGRAPHIC ELEMENTS ******/

  .carousel-cta p, 
  h2 {
    font-size: $font_size_sm_1;
  }

  .contact_info-heading-span, 
  .contact_info-content-span, 
  .contact_info-content-a, 
  .action-a, 
  #level_5-services-container .level_5-service-div .action-a, 
  #footer-copyright, 
  .footer-links-a, 
  .content-form-a, 
  #maa-form-a {
    font-size: 1rem;
  }

  .nav-top-a, 
  .content-p, 
  ul li, 
  #level_5-services-container a, 
  #form-contact label, 
  #input-contact-full_name, 
  #input-contact-phone_number, 
  #input-contact-message, 
  #form-maa label, 
  #input-maa-full_name, 
  #input-maa-phone_number, 
  #input-maa-date, 
  #input-maa-time .contact_info-heading-span, 
  .contact_info-content-span, 
  .contact_info-content-a, 
  .action-a, 
  #level_5-services-container .level_5-service-div .action-a, 
  #footer-copyright, 
  .footer-links-a, 
  .content-form-a, 
  #maa-form-a {
    font-size: 0.9rem;
  }



  /****** HEADER ******/

  header {
    top: 26px;

    #header-contact_info_container-aside {
      width: 215px;
      top: 76px;
      right: 26px;
    }
  }



  /****** TABLET NAVIGATION ******/
  
  #top-tablet-nav {
    right: 26px;
  }

  #nav-logo-desktop, 
  #footer-logo {
    width: 210px;
  }



  /****** COMMON ELEMENTS ******/

  .action-a {
    width: 182px;
  }



  /****** COPY ******/

  .homepage-section {
    height: 458px;
  }


  /* --- LEVEL #4 --- */

  #level_4-map {
    height: 272px;
  }



  /****** FOOTER ******/

  #footer-action-container {
    left: calc(100% - 210px - 170px - 182px - 76px);
  }
}



/* ------ IPAD - 768x1024 & KINDLE HDX - 800x1280 ------ */

@media screen and (min-width: 415px) and (max-width: 800px) {

  /****** TYPOGRAPHICAL ELEMENTS ******/

  .carousel-cta h1 {
    font-size: 1.75rem;
  }

  .content-desc-p {
    font-size: 0.75rem;
  }



  /****** COMMON ELEMENTS ******/

  .tablet-nav-visible {
    height: 1366px;
  }



  /****** HEADER ******/

  header { 
    width: calc(100% - 54px - 54px);
    left: 54px;

    #header-contact_info_container-aside {
      display: none;
    }
  }

  #nav-logo-desktop, 
  #footer-logo {
    width: 150px;
  }

  #top-tablet-nav {
    top: 0;
    right: 0;
  }



  /****** CAROUSEL ******/

  .carousel-item { 
    .carousel-cta {
      width: 400px;
      left: 54px;
      bottom: 26px;
    }

    #cta-homepage {
      p {
        width: 400px;
      }
    }
  }



  /****** COPY ******/

  /* --- LEVEL #1 --- */
  
  #homepage-section-1 {
    height: 350px;
  }
  
  #level_1-p, 
  #level_3-content-container, 
  #level_4-map, 
  #level_5-services-container {
    width: 37%;
  }

  #level_1-p {
    top: 1%;
  }


  /* --- LEVEL #2 --- */

  #homepage-section-2 {
    height: 1445px;
  }

  #level_2-background-top {
    height: 250px;
  }

  #level_2-p, 
  #level_5-content-background {
    width: 66%;
  }

  #level_2-background-bottom {
    height: 1207px;
    display: block;
  }

  .level_2-service-div {
    width: 100%;
    height: 33%;
    background-repeat: no-repeat;
  }

  .level_2-details-div {
    width: 50%;
    margin: 13% auto 0 auto;
  }

  .level_2-service-overlay-div {
    width: 100%;
    height: 38.9%;
  }


  /* --- LEVEL #3 --- */

  #homepage-section-3 {
    height: 350px;
  }

  #level_3-content-container {
    top: 5%;
  }


  /* --- LEVEL #4 ---- */

  #homepage-section-4 {
    height: 397px;
  }


  /* --- LEVEL #5 --- */

  #homepage-section-5 {
    height: 860px;
  }


  /* --- LEVEL #6 --- */

  #homepage-section-6 {
    height: 380px;
  }

  #level_6-img-container {
    width: 100%;
  }

  #level_6-img {
    width: 90%;
    top: 47%;
    left: 26px;
  }

  #level_6-content-background {
    width: 82%;
    top: 5%;
  }



  /****** FOOTER ******/

  #footer-links-container {
    display: none;
  }

  #footer-action-container {
    left: calc(51%);
  }
}



/* ------ IPAD PRO - 1024x1366 ------- */
@media screen and (width: 1024px) {

  /****** COPY ******/

  /* --- LEVEL #2 --- */

  #homepage-section-2 {
    height: 355px;
  }

  #level_2-p, 
  #level_2-icons {
    top: 13%;
  }

  .level_2-service-overlay-div {
    height: 13%;  
  }
}



/* ------ KINDLE HDX - 800x1280 ------- */
@media screen and (width: 800px) {

  /****** COPY ******/

  /* --- LEVEL #2 --- */

  .level_2-service-overlay-div {
    height: 31.1%;  
  }
}



/* ------ MOBILE PHONES ------- */
@media screen and (max-width: 414px) {

  /****** TYPOGRAPHICAL ELEMENTS ******/

  .carousel-cta h1 {
    font-size: $font_size_lg_1;
  }

  #level_4-content-container h2 {
    font-size: $font_size_med_1;
  }

  .carousel-item #cta-homepage p, 
  .content-p, 
  ul li, 
  .level_2-details-h2,
  #level_5-services-container a,
  .mobile-contactinfo-item-span,  
  #nav-mobile-contactinfo-phonenumber
  .nav-mobile-a, 
  #form-contact label, 
  #input-contact-full_name, 
  #input-contact-phone_number, 
  #input-contact-message, 
  #form-maa label, 
  #input-maa-full_name, 
  #input-maa-phone_number, 
  #input-maa-date, 
  #input-maa-time {
    font-size: $font_size_sm_1;
  }

  .level_2-details-ul li {
    font-size: 0.9rem;
  }

  .action-a, 
  #level_5-services-container .level_5-service-div .action-a {
    font-size: 0.8rem;
  }

  #level_1-p, 
  #level_3-content-container .content-p, 
  #level_4-content-container h2, 
  ul li {
    color: $dark_blue_3;
  }

  .level_2-details-h2, 
  .level_2-details-ul li {
    color: $white_2
  }



  /****** COLOR STYLING ******/

  #mobile-cta-copy {
    background-color: $gray_1;
  }

  .carousel, 
  #mobile-menu, 
  #level_1-p, 
  #level_3-content-container, 
  #homepage-section-4, 
  #homepage-section-5, 
  #level_6-content-background {
    background-color: $white_2;
  }

  #level_5-services-container, 
  #level_5-content-container, 
  #homepage-section-6 {
    background-color: unset;
  }

  
  #level_6-img-container {
    background: rgb(244,245,240);
    background: linear-gradient(180deg, rgba(244,245,240,1) 0%, rgba(165,188,187,1) 15%, rgba(165,188,187,1) 68%, rgba(159,156,153,1) 68%, rgba(244,245,240,1) 100%);
  }

  #mobile-nav-links {
    background-color: $green_1;
  }


  /****** BORDERS ******/

  .content-p, 
  #level_3-content-container, 
  #level_4-map, 
  #level_6-content-background {
    border-radius: 0;
  }
  
  #mobile-cta-copy {
    border-bottom: 3px solid $white_2;
  }

  #mobile-menu {
    border-top: 3px solid $gray_1;
  }



  /****** SHADOWS ******/

  #level_4-map, 
  #level_5-services-container, 
  #level_5-content-background, 
  #level_6-content-background {
    box-shadow: none;
  }
  
  
  
  /****** COMMON ELEMENTS ******/

  .visible-mobile {
    display: block !important;
  }

  .visible-mobile-inlineflex {
    display: inline-flex !important;
  }

  #mobile-nav-links {
    display: none;
  }

  .visible-desktop, 
  .visible-desktop-inlineflex {
    display: none !important;
  }

  .action-a {
    width: 154px;
    padding: $spacer_8px;
  }


  
  /****** HEADER ******/

  #mobile-header-logo-container {
    width: 100%;
    height: 84px;
    position: fixed;
    background-image: url('/assets/img/homepage/mobile/header-background.png');
    background-repeat: repeat-x;
    z-index: 400;
  }

  #mobile-header-link {
    width: 183px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 21px;
  }

  #mobile-header-logo {
    width: 183px;
    height: auto;
  }



  /****** MOBILE NAVIGATION ******/

  #mobile-menu {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 400;
  }

  #mobile-menu-icon {
    width: calc(100% - 26px - 154px);
    display: block;
    position: relative;
    top: 11px;
    left: 26px;
  }

  #mobile-action-maa {
    height: 40px;
    position: relative;
    top: 6px;
  }

  #mobile-nav-links {
    width: 100%;
    padding: $spacer_26px;
    position: fixed;
    top: 64px;
    z-index: 300;
  }

  .mobile-contactinfo-item-div {
    margin-bottom: 26px;
    position: relative;
    bottom: -135px;
  }

  .mobile-contactinfo-item-span {
    display: block;
  }

  #mobile-nav-ul {
    margin-bottom: 0;
    padding-left: 0;
    position: absolute;
    bottom: 26px;
    list-style-type: none;

    li {
      margin-bottom: $spacer_16px;
    }

    li:last-of-type {
      margin-bottom: 0;
    }
  }



  /****** CAROUSEL ******/

  .carousel {
    top: 65px;
  }

  .carousel-item {
    height: 427px;
  }

  .carousel-item {
    .carousel-cta {
      top: 0;
      left: 0;
      bottom: 0;
    }

    #cta-homepage {
      p {
        width: 100%;
      }
    }
  }

  #mobile-cta-copy {
    padding: $spacer_26px;
  }



  /****** COPY ******/

  .container {
    position: relative;
    top: 65px;
  }
  
  
  /* ------ HOMEPAGE ------ */
  
  
  /* --- LEVEL #1 --- */

  #homepage-section-1 {
    height: 596px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 432px;
  }

  #level_1-p {
    width: 100%;
    height: 71.5%;
    margin-bottom: 0;
    padding: $spacer_20px $spacer_26px;
    top: 0;
    left: 0;
  }
  
  
  /* --- LEVEL #2 --- */ 

  #level_2-background-top {
    height: 100%;
    display: block;
  }

  #level_2-content-container, 
  #level_2-icons-container {
    width: 100%;
  }

  #level_2-p {
    width: 100%;
    padding: $spacer_20px $spacer_26px;
    top: 0;
  }

  #level_2-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;

    .level_2-icon-img {
      width: 144px;
      margin: 0 auto $spacer_42px auto;
      display: block;
    }
  }

  #level_2-background-bottom {
    width: 100%;
    height: auto;
    display: block;
  }

  .level_2-service-div {
    width: 100%;
    height: 187px;
    display: block;
    position: relative;
    background-size: 100%;

    .action-a {
      position: absolute;
      top: 60px;
      left: calc(50% - 77px);
      z-index: 300;
    }
  }

  .level_2-details-div {
    width: 100%;
    margin: 0;
    padding: $spacer_26px;
    position: relative;
  }

  .level_2-service-overlay-div {
    width: 100%;
    height: 187px;
    top: 0;
  }
  
  
  /* --- LEVEL #3 --- */ 


  #homepage-section-3 {
    height: 571px;
    background-position-y: 22%;
    background-size: 152%;
  }

  #level_3-content-container {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;

    .content-p {
      padding: $spacer_11px $spacer_26px 0 $spacer_26px;
    }

    .content-p:first-of-type {
      padding: $spacer_20px $spacer_26px 0 $spacer_26px;
    }

    .content-p:last-of-type {
      padding: $spacer_11px $spacer_26px $spacer_20px $spacer_26px;
    }
  }  
  
  /* --- LEVEL #4 --- */ 

  #homepage-section-4 {
    display: block;
    background-image: none;
  }

  #level_4-content-container {
    width: 100%;
    height: 100%;
    padding: $spacer_20px $spacer_26px;
    top: 0; 

    h2 {
      margin: 0 0 $spacer_10px 0;
    }

    ul {
      margin: 0;
    }
  }

  #level_4-map {
    width: 100%;
    height: 360px;
    top: 0;
    left: 0;
  }
  
  
  /* --- LEVEL #5 --- */ 

  #homepage-section-5 {
    display: flex;
    flex-direction: column-reverse;
    background-image: none;
  }

  #level_5-services-container {
    width: 100%;
    height: auto;
    padding: $spacer_20px $spacer_26px 0 $spacer_26px;
    top: 0;
    left: 0;
  }

  #level_5-services-list {
    margin-bottom: 0;
  }

  #level_5-content-container {
    width: 100%;
  }

  #level_5-content-background {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;

    .content-p {
      padding: $spacer_11px $spacer_26px 0 $spacer_26px;
    }

    .content-p:last-of-type {
      padding: $spacer_11px $spacer_26px $spacer_10px $spacer_26px;
    }
  }
  
  
  /* --- LEVEL #6 --- */ 

  #homepage-section-6 {
    display: block;
  }

  #level_6-img-container {
    width: 100%;
    height: 290px;
  }

  #level_6-img {
    width: 100%;
    margin: 0;
    padding: 0 $spacer_26px;
    top: 110px;
  }

  #level_6-content-background {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;

    .content-p {
      padding: $spacer_11px $spacer_26px 0 $spacer_26px;
    }

    .content-p:last-of-type {
      margin-bottom: 0;
      padding: $spacer_11px $spacer_26px $spacer_20px $spacer_26px;
    }
  }

  #action-talkToDallas {
    margin: $spacer_16px 0 $spacer_6px $spacer_26px;
  }



  /****** FOOTER ******/

  footer {
    height: auto;
    margin-bottom: 60px;
    display: block;
    position: relative;
    top: 65px;
  }

  #footer-info-container {
    margin-bottom: $spacer_26px;
    left: 0;
  }

  #footer-logo {
    width: 183px;
    margin: 0 auto;
    display: block;
  }

  #footer-links-container, 
  #footer-action-container {
    display: none;
  }



  /****** CONTACT FORM / MAKE AN APPOINTMENT FORM ******/

  #form-contact, 
  #form-maa, 
  #input-contact-full_name, 
  #input-contact-phone_number, 
  #input-contact-message, 
  #form-contact label, 
  #input-maa-full_name, 
  #input-maa-phone_number, 
  #input-maa-date, 
  #input-maa-time, 
  #form-maa label,  
  #contact-confirmation_message, 
  #maa-confirmation_message, 
  #contact-error_message, 
  #maa-error_message {
    width: 100%;
  }

  #content-form-contact, 
  #contact-bkgrnd, 
  #content-form-maa, 
  #maa-bkgrnd {
    top: 64px;
  }

  #form-contact, 
  #form-maa {
    top: 16px;
  }

  #content-form-contact, 
  #content-form-maa {
    padding: $spacer_26px;
  }

  #contact-confirmation_message, 
  #maa-confirmation_message, 
  #contact-error_message, 
  #maa-error_message {
    height: auto;
    padding: $spacer_26px;
    top: 84px;
    left: 0;
  }

  #content-form-contact, 
  #content-form-maa {
    z-index: 250;
  }

  #contact-bkgrnd, 
  #maa-bkgrnd {
    z-index: 200;
  }

  #input-contact-message {
    margin-bottom: 6px;
  }

  #form-contact > div > .grecaptcha-badge {
    bottom: 73px !important;
  }

  #input-maa-time {
    margin-bottom: $spacer_10px;
  }

  #form-maa > div > .grecaptcha-badge {
    bottom: 84px !important;
  }
}



/* ------ ANDROID ------- */
@media screen and (width: 360px) {
  #input-contact-message {
    height: 145px;
  }
}



/* ------ APPLE iPHONE ------- */
@media screen and (width: 375px) {
    
  /****** COPY ******/

  /* --- LEVEL #1 --- */

  #homepage-section-1 {
    height: 603px;
  }

  #input-contact-message {
    height: 172px;
  }


  /* --- LEVEL #3 --- */

  #homepage-section-3 {
    height: 590px;
    background-position-y: 70px;
  }
}



/* ------ APPLE iPHONE ------- */
@media screen and (width: 375px) and (height: 812px) {

  /****** MOBILE NAVIGATION ******/

  .mobile-contactinfo-item-div {
    bottom: -307px;
  }
}  



/* ------ APPLE iPHONE + ------- */
@media screen and (width: 414px) {
  
  /****** MOBILE NAVIGATION ******/

  .mobile-contactinfo-item-div {
    bottom: -231px;
  }
  
  /****** COPY ******/

  /* --- LEVEL #1 --- */

  #homepage-section-1 {
    height: 621px;
  }

  #level_1-p {
    height: 431px;
  }


  /* --- LEVEL #3 --- */

  #homepage-section-3 {
    height: 605px;
    background-position-y: 30px;
  }


  /* --- LEVEL #6 --- */

  #level_6-img {
    top: 95px;
  }
}
