/* main.scss - Contains all styling for dallasmobilewash.com */
/****** COLORS ******/
/****** FONTS ******/
/****** SPACERS ******/
/****** TYPOGRAPHY STYLING ******/
.nav-top-a,
.contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
h1,
p {
  font-family: adelle-sans, sans-serif;
}

.contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
.content-p {
  font-size: 1.1rem;
}

.nav-top-a {
  font-size: 1.33rem;
}

.carousel-cta p {
  font-size: 1.66rem;
}

.carousel-cta h1 {
  font-size: 3.25rem;
}

.contact_info-content-span,
.contact_info-content-a,
.nav-top-a,
.carousel-cta p {
  font-weight: 400;
}

.action-a {
  font-weight: 600;
}

.contact_info-heading-span,
.carousel-cta h1 {
  font-weight: 700;
}

.contact_info-content-a {
  letter-spacing: -0.6px;
}

.nav-top-a {
  letter-spacing: 0.4px;
}

.contact_info-content-a {
  text-decoration: underline;
}

.content-p {
  line-height: 1.6;
}

.nav-top-a,
.action-a,
.carousel-cta h1,
.carousel-cta p,
#level_2-p {
  color: #f4f5f0;
}

.contact_info-listing-div {
  color: #2f3e55;
}

.contact_info-content-a {
  color: #384883;
}

#level_1-p {
  color: #98a0a5;
}

/****** COLOR STYLING ******/
.nav-top-a {
  background-color: rgba(87, 151, 148, 0.85);
}

#header-contact_info_container-aside {
  background: white;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.85) 0%, #579794 100%);
}

.action-a {
  background-color: #384883;
}

#level_1-p {
  background-color: #2b2c30;
}

#level_2-background-top {
  background: #384883;
  background: linear-gradient(180deg, #384883 0%, #2f3e55 100%);
}

.level_2-service-overlay-div {
  background-color: #2b2c30;
}

/****** BORDERS ******/
.nav-top-a,
#header-contact_info_container-aside,
.action-a,
.content-p {
  border-radius: 10px;
}

.action-a {
  border: 2px solid #f4f5f0;
}

/****** SHADOWS ******/
#header-contact_info_container-aside,
.action-a {
  box-shadow: 0 0 6px #2b2c30;
}

#cta-homepage {
  text-shadow: -1px 1px 2px #2f3e55, 1px 1px 2px #2f3e55, 1px -1px 0 #2f3e55, -1px -1px 0 #2f3e55;
}

/******* COMMON ELEMENTS ****** */
:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}

.action-a {
  width: 223px;
  display: block;
  padding: 16px;
  text-align: center;
}

/******* HEADER ******/
header {
  position: absolute;
  top: 76px;
  left: 76px;
  z-index: 3;
}
header #header-contact_info_container-aside {
  width: inherit;
  margin: 20px 0 0 76px;
  padding: 11px 16px;
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}
header #header-contact_info_container-aside .contact_info-listing-div {
  margin-bottom: 11px;
}
header #header-contact_info_container-aside .contact_info-action-div {
  margin: 11px 0;
}
header #header-contact_info_container-aside .contact_info-heading-span,
header #header-contact_info_container-aside .contact_info-content-span,
header #header-contact_info_container-aside .contact_info-content-a {
  display: block;
}

/****** NAVIGATION ******/
#top-desktop-nav,
#top-nav-logo-a,
#top-nav-ul {
  display: inline-flex;
}

#top-nav-logo-a {
  margin-right: 36px;
}

#top-nav-ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;
}
#top-nav-ul li {
  margin-right: 16px;
}
#top-nav-ul .nav-top-a {
  padding: 10px 16px 11px 16px;
  display: block;
}

/****** CAROUSEL ******/
.carousel {
  z-index: 2;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-item .carousel-cta {
  position: absolute;
  left: 76px;
  bottom: 144px;
}
.carousel-item .carousel-cta p {
  margin: 10px 0 16px 0;
}
.carousel-item #cta-homepage p {
  width: 643px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 76px;
}

/****** COPY ******/
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* ------ HOMEPAGE ------ */
.homepage-section {
  width: 100%;
}

/* --- LEVEL #1 --- */
#homepage-section-1 {
  background-image: url("/assets/img/homepage/level_1.jpg");
}

#level_1-p {
  width: 27%;
  padding: 11px 16px;
  position: relative;
  top: 52%;
  left: 59.3%;
}

/* --- LEVEL #2 --- */
#level_2-background-top {
  height: 50%;
  display: inline-flex;
}

#level_2-content-container,
#level_2-icons-container {
  width: 50%;
}

#level_2-p,
#level_2-icons {
  margin: 0 auto;
  position: relative;
}

#level_2-p {
  width: 54%;
  top: 36%;
}

#level_2-icons {
  width: 504px;
  top: 21%;
}
#level_2-icons .level_2-icon-img {
  width: 161px;
  height: auto;
}

#level_2-icon-auto {
  vertical-align: text-bottom;
}

#level_2-icon-deck {
  margin-left: 12px;
}

#level_2-background-bottom {
  width: 100%;
  height: 50%;
  display: inline-flex;
}

.level_2-service-div {
  width: 50%;
  height: 100%;
  display: flex;
  background-size: 100%;
  z-index: 200;
}
.level_2-service-div .action-a {
  margin: 0 auto;
  align-self: center;
  z-index: 200;
}

.level_2-service-overlay-div {
  width: 50%;
  height: 46.3%;
  position: absolute;
  opacity: 0.5;
}

#level_2-service-auto_detailing {
  background-image: url("/assets/img/homepage/level_2-auto.jpg");
}

#level_2-service-home_exterior_cleaning {
  background-image: url("/assets/img/homepage/level_2-exterior.jpg");
}

/****** FOOTER ******/
/* ****** BREAKPOINTS ****** */
/* ------ 1920x???? ------- */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .homepage-section {
    height: 868px;
    background-size: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
