/* main.scss - Contains all styling for dallasmobilewash.com */
/****** COLORS ******/
/****** FONTS ******/
/****** SPACERS ******/
/****** TYPOGRAPHY STYLING ******/
.nav-top-a,
.contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
h1,
p,
h2,
ul li,
span,
#level-6-services-container a,
#footer-copyright,
.footer-links-a,
#form-contact label,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
.content-form-a,
#form-maa label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time,
.nav-mobile-a,
.mobile-contactinfo-item-span {
  font-family: adelle-sans, sans-serif;
}

.contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
#level-6-services-container .level-6-service-div .action-a,
#footer-copyright,
.footer-links-a,
.content-form-a,
#maa-form-a {
  font-size: 1.1rem;
}

.nav-top-a,
.content-p,
ul li,
#level-6-services-container a,
#form-contact label,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-maa label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time,
.level-3-customer-span {
  font-size: 1.33rem;
}

.carousel-cta p,
h2 {
  font-size: 1.66rem;
}

.carousel-cta h1 {
  font-size: 3.25rem;
}

.contact_info-content-span,
.contact_info-content-a,
.nav-top-a,
.carousel-cta p {
  font-weight: 400;
}

.action-a,
.mobile-contactinfo-item-span {
  font-weight: 600;
}

h2 {
  font-weight: 800;
}

.contact_info-heading-span,
.carousel-cta h1 {
  font-weight: 700;
}

.level-3-customer-span {
  font-style: italic;
}

.contact_info-content-a {
  letter-spacing: -0.6px;
}

.nav-top-a {
  letter-spacing: 0.4px;
}

.contact_info-content-a,
.footer-links-a {
  text-decoration: underline;
}

.content-p {
  line-height: 1.6;
}

.nav-top-a {
  color: #fff;
}

.nav-top-a,
.action-a,
.carousel-cta h1,
.carousel-cta p,
#level-2-p,
.level-2-details-h2,
.level-2-details-ul li,
#level-6-services-container .level-6-service-div .action-a {
  color: #f4f5f0;
}

#level-1-p,
.level-3-copy-container-div p,
.level-3-customer-span,
#footer-copyright,
#form-contact label,
#contact-confirmation_message p,
#contact-error_message p,
#form-maa label,
#maa-confirmation_message p,
#maa-error_message p {
  color: #98a0a5;
}

.footer-links-a,
.content-form-a {
  color: #a5bcbb;
}

.contact_info-content-a,
.nav-mobile-a,
#mobile-contactinfo-phonenumber {
  color: #384883;
}

.contact_info-listing-div,
#level-4-content-container {
  color: #2f3e55;
}

#level-3-container-home p,
#level-3-container-home .level-3-customer-span,
#level-5-content-container h2,
#level-5-service_area_list,
#level-6-content-background,
#level-6-services-container,
#level-6-services-container a,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time,
.mobile-contactinfo-item-span {
  color: #2b2c30;
}

/****** COLOR STYLING ******/
.desktop-nav-visible {
  background-color: #a5bcbb;
}

.nav-top-a {
  background-color: #579794;
}

.action-a {
  background-color: #384883;
}

#level-1-p,
.level-2-service-overlay-div {
  background-color: #2b2c30;
}

#level-2-background-top {
  background: #384883;
  background: linear-gradient(180deg, #384883 0%, #2f3e55 100%);
}

.level-3-copy-container-div {
  background-color: #2b2c30;
}

#level-3-container-home .level-3-copy-container-div {
  background-color: #98a0a5;
}

#header-contact_info_container-aside,
#level-4-content-container,
#homepage-section-6,
#level-7-content-background {
  background-color: #fff;
}

#level-6-content-background,
#level-6-services-container {
  background-color: #f4f5f0;
}

#homepage-section-7 {
  background: white;
  background: linear-gradient(180deg, white 0%, #a5bcbb 23%, #a5bcbb 58%, #9f9c99 58%, #f4f5f0 100%);
}

footer,
#contact-bkgrnd,
#maa-bkgrnd {
  background-color: #2b2c30;
}

.nav-top-a {
  background: none;
}

/****** BORDERS ******/
.nav-top-a,
#header-contact_info_container-aside,
.action-a,
.content-p,
#level-4-content-container,
#level-5-map,
#level-6-content-background,
#level-6-services-container,
#level-7-content-background {
  border-radius: 10px;
}

.action-a {
  border: 2px solid #f4f5f0;
}

#level-3-container-home .level-3-copy-container-div {
  border-right: 1px solid #2b2c30;
}

#level-6-services-container li {
  border-bottom: 2px solid #98a0a5;
}

.desktop-nav-visible {
  border-left: 2px solid #579794;
}

#level-6-services-container li:last-of-type {
  border-bottom: none;
}

#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message {
  border: 2px solid #98a0a5;
}

/****** SHADOWS ******/
#header-contact_info_container-aside,
.action-a,
#level-5-map,
#level-6-content-background,
#level-6-services-container,
#level-7-content-background {
  box-shadow: 0 0 6px #2b2c30;
}

#cta-homepage {
  text-shadow: -1px 1px 2px #2f3e55, 1px 1px 2px #2f3e55, 1px -1px 0 #2f3e55, -1px -1px 0 #2f3e55;
}

/****** LINK/BUTTON BEHAVIOR ******/
.nav-top-a {
  transition-property: color, backgroundColor, fontWeight;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.nav-top-a:hover {
  background-color: #579794;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}

.nav-top-a:active {
  background-color: #f4f5f0;
  font-weight: 800;
  color: #579794;
  text-decoration: none;
}

.action-a {
  transition-property: color, backgroundColor, border, textDecoration, fontWeight;
  transition-duration: 0.1 0.5s;
  transition-timing-function: ease-out;
}

.action-a:hover {
  background-color: #579794;
  border: 3px solid #f4f5f0;
  font-weight: 800;
  color: #f4f5f0;
  text-decoration: none;
}

.action-a:active {
  background-color: #f4f5f0;
  border: 2px solid #384883;
  font-weight: 800;
  color: #384883;
  text-decoration: none;
}

.footer-links-a,
.content-form-a {
  transition-property: color, fontWeight;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.footer-links-a:hover,
.content-form-a:hover {
  font-weight: 400;
  color: #f4f5f0;
}

.footer-links-a:active,
.content-form-a:active {
  font-weight: 800;
  color: #f4f5f0;
}

.nav-mobile-a,
#mobile-contactinfo-phonenumber {
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.nav-mobile-a:active,
#mobile-contactinfo-phonenumber:active {
  color: #fff;
}

/******* COMMON ELEMENTS ****** */
.visible-desktop {
  display: block !important;
}

.visible-desktop-inlineflex {
  display: inline-flex;
}

.visible-mobile,
.visible-mobile-inlineflex,
.visible-tablet {
  display: none !important;
}

.overflow-hidden-html {
  overflow-y: hidden !important;
}

#contact-confirmation_message,
#maa-confirmation_message,
#contact-error_message,
#maa-error_message,
#mobile-nav-links {
  display: none;
}

:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

.action-a {
  width: 223px;
  display: block;
  padding: 16px;
  text-align: center;
}

#action-talkToDallas {
  margin: 16px 0;
}

.level-2-button-not_visible,
.level-2-button-visible {
  display: none !important;
}

.level-2-button-visible,
.level-2-details-visible {
  display: block !important;
  opacity: 0;
}

.level-6-service-visible {
  display: block !important;
}

/******* HEADER ******/
header {
  width: calc(100% - 76px - 76px);
  position: absolute;
  top: 76px;
  left: 76px;
  z-index: 3;
}
header #header-contact_info_container-aside {
  width: 255px;
  padding: 11px 16px;
  display: inline-flex;
  position: absolute;
  right: 76px;
  flex-direction: column;
  vertical-align: top;
}
header #header-contact_info_container-aside .contact_info-listing-div {
  margin-bottom: 11px;
}
header #header-contact_info_container-aside .contact_info-action-div {
  margin: 11px 0;
}
header #header-contact_info_container-aside .contact_info-heading-span,
header #header-contact_info_container-aside .contact_info-content-span,
header #header-contact_info_container-aside .contact_info-content-a {
  display: block;
}

/****** NAVIGATION ******/
.desktop-nav-visible {
  width: 494px;
  height: 930px;
  padding: 54px;
  position: absolute;
  top: 0;
  z-index: 200;
}

#top-desktop-nav {
  position: fixed;
  right: 76px;
  z-index: 300;
}

#top-nav-logo-a,
#header-contact_info_container-aside {
  display: inline-flex;
}

#top-nav-ul {
  width: 316px;
  padding-left: 0;
  display: none;
  position: absolute;
  top: 26px;
  right: 0;
  list-style-type: none;
  vertical-align: top;
}
#top-nav-ul li {
  margin-right: 16px;
}
#top-nav-ul .nav-top-a {
  padding: 10px 16px 11px 16px;
  display: block;
}

/****** CAROUSEL ******/
.carousel {
  z-index: 2;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-item .carousel-cta {
  position: absolute;
  left: 76px;
  bottom: 144px;
}
.carousel-item .carousel-cta p {
  margin: 10px 0 16px 0;
}
.carousel-item #cta-homepage p {
  width: 526px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 76px;
}

/****** COPY ******/
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* ------ HOMEPAGE ------ */
.homepage-section {
  width: 100%;
}

/* --- LEVEL #1 --- */
#homepage-section-1 {
  background-image: url("/assets/img/homepage/desktop/level-1.jpg");
}

#level-1-p {
  width: 27%;
  padding: 11px 16px;
  position: relative;
  top: 43%;
  left: 59.3%;
}

/* --- LEVEL #2 --- */
#level-2-background-top {
  height: 50%;
  display: inline-flex;
}

#level-2-content-container,
#level-2-icons-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#level-2-p,
#level-2-icons {
  margin: 0 auto;
  position: relative;
}

#level-2-p {
  width: 54%;
}

#level-2-icons {
  width: 504px;
}
#level-2-icons .level-2-icon-img {
  width: 161px;
  height: auto;
}

#level-2-icon-auto {
  vertical-align: text-bottom;
}

#level-2-icon-deck {
  margin-left: 12px;
}

#level-2-background-bottom {
  width: 100%;
  height: 50%;
  display: inline-flex;
}

.level-2-service-div {
  width: 33.3%;
  height: 100%;
  display: flex;
  background-size: 100%;
  z-index: 200;
}
.level-2-service-div .action-a {
  margin: 0 auto;
  align-self: center;
  z-index: 200;
}

.level-2-details-div {
  width: 80%;
  margin: 50px auto 0 auto;
  display: none;
  z-index: 200;
}

.level-2-service-overlay-div {
  width: 33.3%;
  height: 35%;
  position: absolute;
  opacity: 0.5;
}

#level-2-service-home_exterior_cleaning {
  background-image: url("/assets/img/homepage/desktop/level-2-exterior.jpg");
}

#level-2-service-auto_detailing {
  background-image: url("/assets/img/homepage/desktop/level-2-auto.jpg");
}

#level-2-service-deck_cleaning {
  background-image: url("/assets/img/homepage/desktop/level-2-deck.jpg");
}

/* --- LEVEL #3 --- */
#homepage-section-3 {
  height: 1625px;
}

.level-3-container-div {
  display: flex;
}

.level-3-img-container-div {
  width: 56.9%;
}

.level-3-img {
  width: 100%;
}

.level-3-copy-container-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.level-3-copy-container-div .content-p {
  width: 54%;
}

.level-3-customer-span {
  display: block;
}

/* --- LEVEL #4 --- */
#homepage-section-4 {
  background-image: url("/assets/img/homepage/desktop/level-4.jpg");
}

#level-4-content-container {
  width: 27%;
  position: relative;
  top: 15%;
  left: 59.3%;
  opacity: 0.8;
}
#level-4-content-container .content-p {
  padding: 11px 16px;
}

/* 

#level-4-img {
  width: 53%;
  display: block;
  position: relative;
  bottom: 144px;
  left: 144px;
  z-index: 100;
} */
/* --- LEVEL #5 --- */
#homepage-section-5 {
  background-image: url("/assets/img/homepage/desktop/level-5.jpg");
  display: flex;
}

#level-5-content-container,
#level-5-map {
  position: relative;
}

#level-5-content-container {
  width: 50%;
  height: 85%;
  top: 15%;
}
#level-5-content-container h2 {
  width: 193px;
  margin: 0 auto 10px auto;
}
#level-5-content-container ul {
  width: 197px;
  margin: 0 auto;
}
#level-5-content-container ul li {
  margin-bottom: 10px;
}

#level-5-map {
  width: 27%;
  height: 433px;
  top: 15%;
  left: 9.1%;
}

/* --- LEVEL #6 --- */
#homepage-section-6 {
  display: inline-flex;
  background-image: url("/assets/img/homepage/desktop/level-6.png");
  background-position: 0 50%;
  background-size: 40%;
  background-repeat: repeat-x;
}

#level-6-content-container {
  width: 50%;
}

#level-6-content-background {
  width: 54%;
  height: fit-content;
  margin: 0 auto;
  position: relative;
  top: 15%;
}
#level-6-content-background .content-p {
  padding: 11px 16px;
}

#level-6-services-container {
  width: 27%;
  height: fit-content;
  padding: 11px 16px;
  position: relative;
  top: 15%;
  left: 9.1%;
}
#level-6-services-container li {
  list-style-image: url("/assets/img/common/dots/services.png");
  margin-bottom: 10px;
}
#level-6-services-container li a {
  position: relative;
  top: -8px;
}

#level-6-services-list {
  width: 96%;
}

.level-6-service-div {
  display: none;
  margin-bottom: 16px;
}
.level-6-service-div p {
  margin-bottom: 26px;
}

/* --- LEVEL #7 --- */
#homepage-section-7 {
  display: inline-flex;
}

#level-7-img-container {
  width: 45.6%;
}

#level-7-img {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 30%;
}

#level-7-content-background {
  width: 51%;
  height: auto;
  margin: 0 auto;
  padding: 11px 16px;
  position: relative;
  top: 15%;
}

/****** FOOTER ******/
footer {
  width: 100%;
  display: inline-flex;
}

#footer-info-container {
  padding: 26px 0;
  position: relative;
  left: 76px;
}

#footer-logo {
  width: 295px;
  height: auto;
}

#footer-socialMedia-container {
  margin: 16px;
}

#footer-socialMedia-facebook {
  margin: 0 auto;
  display: block;
}

#footer-copyright-container {
  text-align: center;
}

#footer-links-container {
  padding: 26px 0;
  position: relative;
  left: 44.5%;
}

#footer-links {
  padding-left: 0;
  list-style-type: none;
}
#footer-links li {
  margin-bottom: 11px;
}
#footer-links li:last-of-type {
  margin-bottom: 0;
}

#footer-action-container {
  height: calc(100% - 56px);
  position: relative;
  top: 56px;
  left: calc(100% - 295px - 208px - 223px - 76px);
}

/****** CONTACT FORM ******/
#content-form-contact,
#contact-bkgrnd,
#content-form-maa,
#maa-bkgrnd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 350;
}

#content-form-contact,
#content-form-maa {
  padding: 3em;
}

#content-form-contact a,
#content-form-maa a {
  display: block;
  float: right;
}

#contact-bkgrnd,
#maa-bkgrnd {
  z-index: 340;
}

#form-contact,
#form-maa {
  width: 360px;
  height: auto;
  margin: auto;
  position: relative;
  top: 3em;
}

#contact-confirmation_message,
#maa-confirmation_message,
#contact-error_message,
#maa-error_message {
  width: 23.25em;
  height: 24.5em;
  padding: 2em 2.5em;
  position: absolute;
  top: 15%;
  left: calc(60% - 408px);
  z-index: 350;
}

#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-contact label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time,
#form-maa label {
  width: 360px;
}

#input-contact-submit,
#input-maa-submit {
  margin-top: 0.5em;
  display: inline-block;
}

#form-contact label,
#form-maa label {
  margin: 1em 0 0.25em 0;
  display: block;
}

#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time {
  padding: 0.5em;
}

#contact-confirmation_message p,
#maa-confirmation_message p,
#contact-error_message p,
#maa-error_message p {
  padding: 0.25em 0;
  font-size: 1.15em;
}

#input-contact-message {
  margin-bottom: 6px;
}

#input-maa-time {
  margin-bottom: 10px;
}

/* ****** BREAKPOINTS ****** */
/* ------ 1920x???? ------- */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .homepage-section {
    height: 868px;
    background-size: 100%;
  }

  #homepage-section-2,
#homepage-section-7 {
    height: 657px;
  }
}
/* ------ > MOBILE DISPLAYS && < 1080P ------- */
@media screen and (min-width: 415px) and (max-width: 1600px) {
  /****** TYPOGRAPHIC ELEMENTS ******/
  .carousel-cta h1 {
    font-size: 2.25rem;
  }

  .carousel-cta p,
h2 {
    font-size: 1.33rem;
  }

  .nav-top-a,
.content-p,
ul li,
#level-6-services-container a,
#form-contact label,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-maa label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time .contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
#level-6-services-container .level-6-service-div .action-a,
#footer-copyright,
.footer-links-a,
.content-form-a,
#maa-form-a {
    font-size: 1rem;
  }

  /****** MAIN NAVIGATION ******/
  #nav-logo-desktop,
#footer-logo {
    width: 260px;
  }

  /****** CAROUSEL ******/
  .carousel-item .carousel-cta {
    bottom: 76px;
  }

  /****** COPY ******/
  .homepage-section {
    height: 623px;
    background-size: 100%;
  }

  /* --- LEVEL #1 --- */
  #level-1-p {
    top: 15%;
  }

  /* --- LEVEL #2 --- */
  #homepage-section-2 {
    height: 437px;
  }

  #level-2-p {
    top: 21%;
  }

  #level-2-icons {
    width: 294px;
  }
  #level-2-icons .level-2-icon-img {
    width: 91px;
  }

  .level-2-details-div {
    margin: 20px auto 0 auto;
  }

  .level-2-service-overlay-div {
    height: 24%;
  }

  /* --- LEVEL #7 --- */
  #level-7-img {
    top: 40%;
  }

  /****** FOOTER ******/
  #footer-links-container {
    left: 22%;
  }
}
/* ------ > TABLET < 720P ------- */
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .level-2-service-overlay-div {
    height: 24.3%;
  }
}
/* ------ TABLET DISPLAYS ------ */
@media screen and (min-width: 415px) and (max-width: 1024px) {
  /****** TYPOGRAPHIC ELEMENTS ******/
  .carousel-cta p,
h2 {
    font-size: 1.1rem;
  }

  .contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
#level-6-services-container .level-6-service-div .action-a,
#footer-copyright,
.footer-links-a,
.content-form-a,
#maa-form-a {
    font-size: 1rem;
  }

  .nav-top-a,
.content-p,
ul li,
#level-6-services-container a,
#form-contact label,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-maa label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time .contact_info-heading-span,
.contact_info-content-span,
.contact_info-content-a,
.action-a,
#level-6-services-container .level-6-service-div .action-a,
#footer-copyright,
.footer-links-a,
.content-form-a,
#maa-form-a {
    font-size: 0.9rem;
  }

  /****** HEADER ******/
  header {
    top: 26px;
  }
  header #header-contact_info_container-aside {
    width: 215px;
    top: 76px;
    right: 26px;
  }

  /****** TABLET NAVIGATION ******/
  #top-tablet-nav {
    right: 26px;
  }

  #nav-logo-desktop,
#footer-logo {
    width: 210px;
  }

  /****** COMMON ELEMENTS ******/
  .action-a {
    width: 182px;
  }

  /****** COPY ******/
  .homepage-section {
    height: 458px;
  }

  /* --- LEVEL #5 --- */
  #level-5-map {
    height: 272px;
  }

  /****** FOOTER ******/
  #footer-action-container {
    left: calc(100% - 210px - 170px - 182px - 76px);
  }
}
/* ------ IPAD - 768x1024 & KINDLE HDX - 800x1280 ------ */
@media screen and (min-width: 415px) and (max-width: 800px) {
  /****** TYPOGRAPHICAL ELEMENTS ******/
  .carousel-cta h1 {
    font-size: 1.75rem;
  }

  .content-desc-p {
    font-size: 0.75rem;
  }

  /****** COMMON ELEMENTS ******/
  .tablet-nav-visible {
    height: 1366px;
  }

  /****** HEADER ******/
  header {
    width: calc(100% - 54px - 54px);
    left: 54px;
  }
  header #header-contact_info_container-aside {
    display: none;
  }

  #nav-logo-desktop,
#footer-logo {
    width: 150px;
  }

  #top-tablet-nav {
    top: 0;
    right: 0;
  }

  /****** CAROUSEL ******/
  .carousel-item .carousel-cta {
    width: 400px;
    left: 54px;
    bottom: 26px;
  }
  .carousel-item #cta-homepage p {
    width: 400px;
  }

  /****** COPY ******/
  /* --- LEVEL #1 --- */
  #homepage-section-1 {
    height: 350px;
  }

  #level-1-p,
#level-4-content-container,
#level-5-map,
#level-6-services-container {
    width: 37%;
  }

  #level-1-p {
    top: 1%;
  }

  /* --- LEVEL #2 --- */
  #homepage-section-2 {
    height: 1445px;
  }

  #level-2-background-top {
    height: 250px;
  }

  #level-2-p,
#level-6-content-background {
    width: 66%;
  }

  #level-2-background-bottom {
    height: 1207px;
    display: block;
  }

  .level-2-service-div {
    width: 100%;
    height: 33%;
    background-repeat: no-repeat;
  }

  .level-2-details-div {
    width: 50%;
    margin: 13% auto 0 auto;
  }

  .level-2-service-overlay-div {
    width: 100%;
    height: 38.9%;
  }

  /* --- LEVEL #4 --- */
  #homepage-section-4 {
    height: 350px;
  }

  #level-4-content-container {
    top: 5%;
  }

  /* --- LEVEL #5 ---- */
  #homepage-section-5 {
    height: 397px;
  }

  /* --- LEVEL #6 --- */
  #homepage-section-6 {
    height: 860px;
  }

  /* --- LEVEL #7 --- */
  #homepage-section-7 {
    height: 380px;
  }

  #level-7-img-container {
    width: 100%;
  }

  #level-7-img {
    width: 90%;
    top: 47%;
    left: 26px;
  }

  #level-7-content-background {
    width: 82%;
    top: 5%;
  }

  /****** FOOTER ******/
  #footer-links-container {
    display: none;
  }

  #footer-action-container {
    left: calc(51%);
  }
}
/* ------ IPAD PRO - 1024x1366 ------- */
@media screen and (width: 1024px) {
  /****** COPY ******/
  /* --- LEVEL #2 --- */
  #homepage-section-2 {
    height: 355px;
  }

  #level-2-p,
#level-2-icons {
    top: 13%;
  }

  .level-2-service-overlay-div {
    height: 13%;
  }
}
/* ------ KINDLE HDX - 800x1280 ------- */
@media screen and (width: 800px) {
  /****** COPY ******/
  /* --- LEVEL #2 --- */
  .level-2-service-overlay-div {
    height: 31.1%;
  }
}
/* ------ MOBILE PHONES ------- */
@media screen and (max-width: 414px) {
  /****** TYPOGRAPHICAL ELEMENTS ******/
  .carousel-cta h1 {
    font-size: 2.08rem;
  }

  #level-5-content-container h2 {
    font-size: 1.33rem;
  }

  .carousel-item #cta-homepage p,
.content-p,
ul li,
.level-2-details-h2,
#level-6-services-container a,
.mobile-contactinfo-item-span,
#nav-mobile-contactinfo-phonenumber .nav-mobile-a,
#form-contact label,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-maa label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time {
    font-size: 1.1rem;
  }

  .level-2-details-ul li {
    font-size: 0.9rem;
  }

  .action-a,
#level-6-services-container .level-6-service-div .action-a {
    font-size: 0.8rem;
  }

  #level-1-p,
#level-4-content-container .content-p,
#level-5-content-container h2,
ul li {
    color: #2b2c30;
  }

  .level-2-details-h2,
.level-2-details-ul li {
    color: #f4f5f0;
  }

  /****** COLOR STYLING ******/
  #mobile-cta-copy {
    background-color: #98a0a5;
  }

  .carousel,
#mobile-menu,
#level-1-p,
#level-4-content-container,
#homepage-section-5,
#homepage-section-6,
#level-7-content-background {
    background-color: #f4f5f0;
  }

  #level-6-services-container,
#level-6-content-container,
#homepage-section-7 {
    background-color: unset;
  }

  #level-7-img-container {
    background: #f4f5f0;
    background: linear-gradient(180deg, #f4f5f0 0%, #a5bcbb 15%, #a5bcbb 68%, #9f9c99 68%, #f4f5f0 100%);
  }

  #mobile-nav-links {
    background-color: #a5bcbb;
  }

  /****** BORDERS ******/
  .content-p,
#level-4-content-container,
#level-5-map,
#level-7-content-background {
    border-radius: 0;
  }

  #mobile-cta-copy {
    border-bottom: 3px solid #f4f5f0;
  }

  #mobile-menu {
    border-top: 3px solid #98a0a5;
  }

  /****** SHADOWS ******/
  #level-5-map,
#level-6-services-container,
#level-6-content-background,
#level-7-content-background {
    box-shadow: none;
  }

  /****** COMMON ELEMENTS ******/
  .visible-mobile {
    display: block !important;
  }

  .visible-mobile-inlineflex {
    display: inline-flex !important;
  }

  #mobile-nav-links {
    display: none;
  }

  .visible-desktop,
.visible-desktop-inlineflex {
    display: none !important;
  }

  .action-a {
    width: 154px;
    padding: 8px;
  }

  /****** HEADER ******/
  #mobile-header-logo-container {
    width: 100%;
    height: 84px;
    position: fixed;
    background-image: url("/assets/img/homepage/mobile/header-background.png");
    background-repeat: repeat-x;
    z-index: 400;
  }

  #mobile-header-link {
    width: 183px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 21px;
  }

  #mobile-header-logo {
    width: 183px;
    height: auto;
  }

  /****** MOBILE NAVIGATION ******/
  #mobile-menu {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    z-index: 400;
  }

  #mobile-menu-icon {
    width: calc(100% - 26px - 154px);
    display: block;
    position: relative;
    top: 11px;
    left: 26px;
  }

  #mobile-action-maa {
    height: 40px;
    position: relative;
    top: 6px;
  }

  #mobile-nav-links {
    width: 100%;
    padding: 26px;
    position: fixed;
    top: 64px;
    z-index: 300;
  }

  .mobile-contactinfo-item-div {
    margin-bottom: 26px;
    position: relative;
    bottom: -135px;
  }

  .mobile-contactinfo-item-span {
    display: block;
  }

  #mobile-nav-ul {
    margin-bottom: 0;
    padding-left: 0;
    position: absolute;
    bottom: 26px;
    list-style-type: none;
  }
  #mobile-nav-ul li {
    margin-bottom: 16px;
  }
  #mobile-nav-ul li:last-of-type {
    margin-bottom: 0;
  }

  /****** CAROUSEL ******/
  .carousel {
    top: 65px;
  }

  .carousel-item {
    height: 427px;
  }

  .carousel-item .carousel-cta {
    top: 0;
    left: 0;
    bottom: 0;
  }
  .carousel-item #cta-homepage p {
    width: 100%;
  }

  #mobile-cta-copy {
    padding: 26px;
  }

  /****** COPY ******/
  .container {
    position: relative;
    top: 65px;
  }

  /* ------ HOMEPAGE ------ */
  /* --- LEVEL #1 --- */
  #homepage-section-1 {
    height: 596px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 432px;
  }

  #level-1-p {
    width: 100%;
    height: 71.5%;
    margin-bottom: 0;
    padding: 20px 26px;
    top: 0;
    left: 0;
  }

  /* --- LEVEL #2 --- */
  #level-2-background-top {
    height: 100%;
    display: block;
  }

  #level-2-content-container,
#level-2-icons-container {
    width: 100%;
  }

  #level-2-p {
    width: 100%;
    padding: 20px 26px;
    top: 0;
  }

  #level-2-icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
  }
  #level-2-icons .level-2-icon-img {
    width: 144px;
    margin: 0 auto 42px auto;
    display: block;
  }

  #level-2-background-bottom {
    width: 100%;
    height: auto;
    display: block;
  }

  .level-2-service-div {
    width: 100%;
    height: 187px;
    display: block;
    position: relative;
    background-size: 100%;
  }
  .level-2-service-div .action-a {
    position: absolute;
    top: 60px;
    left: calc(50% - 77px);
    z-index: 300;
  }

  .level-2-details-div {
    width: 100%;
    margin: 0;
    padding: 26px;
    position: relative;
  }

  .level-2-service-overlay-div {
    width: 100%;
    height: 187px;
    top: 0;
  }

  /* --- LEVEL #4 --- */
  #homepage-section-4 {
    height: 571px;
    background-position-y: 22%;
    background-size: 152%;
  }

  #level-4-content-container {
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }
  #level-4-content-container .content-p {
    padding: 11px 26px 0 26px;
  }
  #level-4-content-container .content-p:first-of-type {
    padding: 20px 26px 0 26px;
  }
  #level-4-content-container .content-p:last-of-type {
    padding: 11px 26px 20px 26px;
  }

  /* --- LEVEL #5 --- */
  #homepage-section-5 {
    display: block;
    background-image: none;
  }

  #level-5-content-container {
    width: 100%;
    height: 100%;
    padding: 20px 26px;
    top: 0;
  }
  #level-5-content-container h2 {
    margin: 0 0 10px 0;
  }
  #level-5-content-container ul {
    margin: 0;
  }

  #level-5-map {
    width: 100%;
    height: 360px;
    top: 0;
    left: 0;
  }

  /* --- LEVEL #6 --- */
  #homepage-section-6 {
    display: flex;
    flex-direction: column-reverse;
    background-image: none;
  }

  #level-6-services-container {
    width: 100%;
    height: auto;
    padding: 20px 26px 0 26px;
    top: 0;
    left: 0;
  }

  #level-6-services-list {
    margin-bottom: 0;
  }

  #level-6-content-container {
    width: 100%;
  }

  #level-6-content-background {
    width: 100%;
    height: auto;
    margin: 0;
    top: 0;
  }
  #level-6-content-background .content-p {
    padding: 11px 26px 0 26px;
  }
  #level-6-content-background .content-p:last-of-type {
    padding: 11px 26px 10px 26px;
  }

  /* --- LEVEL #7 --- */
  #homepage-section-7 {
    display: block;
  }

  #level-7-img-container {
    width: 100%;
    height: 290px;
  }

  #level-7-img {
    width: 100%;
    margin: 0;
    padding: 0 26px;
    top: 110px;
  }

  #level-7-content-background {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
  }
  #level-7-content-background .content-p {
    padding: 11px 26px 0 26px;
  }
  #level-7-content-background .content-p:last-of-type {
    margin-bottom: 0;
    padding: 11px 26px 20px 26px;
  }

  #action-talkToDallas {
    margin: 16px 0 6px 26px;
  }

  /****** FOOTER ******/
  footer {
    height: auto;
    margin-bottom: 60px;
    display: block;
    position: relative;
    top: 65px;
  }

  #footer-info-container {
    margin-bottom: 26px;
    left: 0;
  }

  #footer-logo {
    width: 183px;
    margin: 0 auto;
    display: block;
  }

  #footer-links-container,
#footer-action-container {
    display: none;
  }

  /****** CONTACT FORM / MAKE AN APPOINTMENT FORM ******/
  #form-contact,
#form-maa,
#input-contact-full_name,
#input-contact-phone_number,
#input-contact-message,
#form-contact label,
#input-maa-full_name,
#input-maa-phone_number,
#input-maa-date,
#input-maa-time,
#form-maa label,
#contact-confirmation_message,
#maa-confirmation_message,
#contact-error_message,
#maa-error_message {
    width: 100%;
  }

  #content-form-contact,
#contact-bkgrnd,
#content-form-maa,
#maa-bkgrnd {
    top: 64px;
  }

  #form-contact,
#form-maa {
    top: 16px;
  }

  #content-form-contact,
#content-form-maa {
    padding: 26px;
  }

  #contact-confirmation_message,
#maa-confirmation_message,
#contact-error_message,
#maa-error_message {
    height: auto;
    padding: 26px;
    top: 84px;
    left: 0;
  }

  #content-form-contact,
#content-form-maa {
    z-index: 250;
  }

  #contact-bkgrnd,
#maa-bkgrnd {
    z-index: 200;
  }

  #input-contact-message {
    margin-bottom: 6px;
  }

  #form-contact > div > .grecaptcha-badge {
    bottom: 73px !important;
  }

  #input-maa-time {
    margin-bottom: 10px;
  }

  #form-maa > div > .grecaptcha-badge {
    bottom: 84px !important;
  }
}
/* ------ ANDROID ------- */
@media screen and (width: 360px) {
  #input-contact-message {
    height: 145px;
  }
}
/* ------ APPLE iPHONE ------- */
@media screen and (width: 375px) {
  /****** COPY ******/
  /* --- LEVEL #1 --- */
  #homepage-section-1 {
    height: 603px;
  }

  #input-contact-message {
    height: 172px;
  }

  /* --- LEVEL #4 --- */
  #homepage-section-4 {
    height: 590px;
    background-position-y: 70px;
  }
}
/* ------ APPLE iPHONE ------- */
@media screen and (width: 375px) and (height: 812px) {
  /****** MOBILE NAVIGATION ******/
  .mobile-contactinfo-item-div {
    bottom: -307px;
  }
}
/* ------ APPLE iPHONE + ------- */
@media screen and (width: 414px) {
  /****** MOBILE NAVIGATION ******/
  .mobile-contactinfo-item-div {
    bottom: -231px;
  }

  /****** COPY ******/
  /* --- LEVEL #1 --- */
  #homepage-section-1 {
    height: 621px;
  }

  #level-1-p {
    height: 431px;
  }

  /* --- LEVEL #4 --- */
  #homepage-section-4 {
    height: 605px;
    background-position-y: 30px;
  }

  /* --- LEVEL #7 --- */
  #level-7-img {
    top: 95px;
  }
}

/*# sourceMappingURL=main.css.map */
