/* main.scss - Contains all styling for dallasmobilewash.com */

/****** COLORS ******/

$white_1: #fff;
$white_2: #f4f5f0;

$gray_1: #98a0a5;

$black_1: #2b2c30;
$black_2: #000;

$dark_blue_1: #384883;
$dark_blue_2: #2f3e55;
$dark_blue_3: #2b2c30;

$green_1: #a5bcbb;
$green_2: #579794;

$green_translucent_1: rgba(87, 151, 148, 0.85);


/****** FONTS ******/

$adelle_sans: adelle-sans, sans-serif;

$font_weight_normal: 400;
$font_weight_bold: 700;

$font_size_sm_1: 1.1rem; // 13pt

$font_size_med_1: 1.33rem; // 16pt
$font_size_med_2: 1.66rem; // 20pt

$font_size_lg_1: 2.08rem; // 25pt
$font_size_lg_2: 3.25rem; // 39pt


/****** SPACERS ******/

$spacer_8px: 8px;

$spacer_10px: 10px;
$spacer_11px: 11px;
$spacer_13px: 13px;
$spacer_16px: 16px;

$spacer_20px: 20px;
$spacer_26px: 26px;
$spacer_36px: 36px;

$spacer_76px: 76px;
$spacer_144px: 144px;



/****** TYPOGRAPHY STYLING ******/  

.nav-top-a, 
.contact_info-heading-span, 
.contact_info-content-span, 
.contact_info-content-a, 
.action-a, 
h1, 
p {
  font-family: $adelle_sans;
}

.contact_info-heading-span, 
.contact_info-content-span, 
.contact_info-content-a, 
.action-a, 
.content-p {
  font-size: $font_size_sm_1;
}

.nav-top-a {
  font-size: $font_size_med_1;
}

.carousel-cta p {
  font-size: $font_size_med_2;
}

.carousel-cta h1 {
  font-size: $font_size_lg_2;
}

.contact_info-content-span, 
.contact_info-content-a, 
.nav-top-a, 
.carousel-cta p {
  font-weight: $font_weight_normal;
}

.action-a {
  font-weight: 600;
}

.contact_info-heading-span, 
.carousel-cta h1 {
  font-weight: $font_weight_bold;
}

.contact_info-content-a {
  letter-spacing: -0.6px;
}

.nav-top-a {
  letter-spacing: 0.4px;
}

.contact_info-content-a {
  text-decoration: underline;
}

.content-p {
  line-height: 1.6;
}

.nav-top-a, 
.action-a, 
.carousel-cta h1, 
.carousel-cta p, 
#level_2-p {
  color: $white_2;
}

.contact_info-listing-div {
  color: $dark_blue_2;
}

.contact_info-content-a {
  color: $dark_blue_1;
}

#level_1-p {
  color: $gray_1;
}


/****** COLOR STYLING ******/

.nav-top-a {
  background-color: $green_translucent_1;
}

#header-contact_info_container-aside {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.85) 0%, rgba(87,151,148,1) 100%)
}

.action-a {
  background-color: $dark_blue_1;
}

#level_1-p {
  background-color: $black_1;
}

#level_2-background-top {
  background: rgb(56,72,131);
  background: linear-gradient(180deg, rgba(56,72,131,1) 0%, rgba(47,62,85,1) 100%);
}

.level_2-service-overlay-div {
  background-color: $black_1;
}


/****** BORDERS ******/

.nav-top-a, 
#header-contact_info_container-aside, 
.action-a, 
.content-p {
  border-radius: 10px;
}

.action-a {
  border: 2px solid $white_2;
}



/****** SHADOWS ******/

$shadow_distance: 6px;

#header-contact_info_container-aside, 
.action-a {
  box-shadow: 0 0 $shadow_distance $dark_blue_3;
}

#cta-homepage {
  text-shadow: -1px 1px 2px $dark_blue_2, 1px 1px 2px $dark_blue_2, 1px -1px 0 $dark_blue_2, -1px -1px 0 $dark_blue_2;
}



/******* COMMON ELEMENTS ****** */

:root {
  margin: 0;
  padding: 0;
  z-index: 0;
}

.action-a {
  width: 223px;
  display: block;
  padding: $spacer_16px;
  text-align: center;
}

/******* HEADER ******/

header {
  position: absolute;
  top: $spacer_76px;
  left: $spacer_76px;
  z-index: 3;

  #header-contact_info_container-aside  {
    width: inherit;
    margin: $spacer_20px 0 0 $spacer_76px;
    padding: $spacer_11px $spacer_16px;
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;

    .contact_info-listing-div {
      margin-bottom: $spacer_11px;
    }

    .contact_info-action-div {
      margin: $spacer_11px 0;
    }

    .contact_info-heading-span, 
    .contact_info-content-span, 
    .contact_info-content-a {
      display: block;
    }
  }  
}



/****** NAVIGATION ******/

#top-desktop-nav,  
#top-nav-logo-a, 
#top-nav-ul {
  display: inline-flex;
}

#top-nav-logo-a {
  margin-right: $spacer_36px;
}

#top-nav-ul {
  margin: $spacer_20px 0 0 0;
  padding: 0;
  list-style-type: none;
  vertical-align: top;

  li {
    margin-right: $spacer_16px;
  }

  .nav-top-a {
    padding: $spacer_10px $spacer_16px $spacer_11px $spacer_16px;
    display: block;
  }
}



/****** CAROUSEL ******/

.carousel {
  z-index: 2;
}

.carousel-item  {
  img {
    width: 100%;
    height: auto;
  }
  $spacer_20px: 20px;

  .carousel-cta {
    position: absolute;
    left: $spacer_76px;
    bottom: $spacer_144px;
  }

  .carousel-cta {
    p {
      margin: $spacer_10px 0 $spacer_16px 0;
    }
  }

  #cta-homepage {
    p {
      width: 643px;
    }
  }
}

.carousel-control-prev, 
.carousel-control-next {
  width: $spacer_76px;
}



/****** COPY ******/

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}



/* ------ HOMEPAGE ------ */
.homepage-section {
  width: 100%;
}


/* --- LEVEL #1 --- */

#homepage-section-1 {
  background-image: url('/assets/img/homepage/level_1.jpg');
}

#level_1-p {
  width: 27%;
  padding: $spacer_11px $spacer_16px;
  position: relative;
  top: 52%;
  left: 59.3%;  
}


/* --- LEVEL #2 --- */

#level_2-background-top {
  height: 50%;
  display: inline-flex;
}

#level_2-content-container, 
#level_2-icons-container {
  width: 50%;
}

#level_2-p, 
#level_2-icons {
  margin: 0 auto;
  position: relative;
}

#level_2-p {
  width: 54%;
  top: 36%;
}

#level_2-icons {
  width: 504px;
  top: 21%;

  .level_2-icon-img {
    width: 161px;
    height: auto;
  }
}

#level_2-icon-auto {
  vertical-align: text-bottom;
}

#level_2-icon-deck {
  margin-left: 12px;
}

#level_2-background-bottom {
  width: 100%;
  height: 50%;
  display: inline-flex;
}

.level_2-service-div {
  width: 50%;
  height: 100%;
  display: flex;
  background-size: 100%;
  z-index: 200;

  .action-a {
    margin: 0 auto;
    align-self: center;
    z-index: 200;
  }
}

.level_2-service-overlay-div {
  width: 50%;
  height: 46.3%;
  position: absolute;
  opacity: 0.5;
}

#level_2-service-auto_detailing {
  background-image: url('/assets/img/homepage/level_2-auto.jpg');
}

#level_2-service-home_exterior_cleaning {
  background-image: url('/assets/img/homepage/level_2-exterior.jpg');
}


/****** FOOTER ******/




/* ****** BREAKPOINTS ****** */


/* ------ 1920x???? ------- */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  .homepage-section {
    height: 868px;
    background-size: 100%;
  }
}
